streamlit
pandas
openpyxl
requests
googlemaps
requests
openpyxl
rapidfuzz
scikit-learn
unidecode
diskcache
geopy
python-dotenv
urllib3
pyarrow
cachetools
tenacity
loguru
scikit-learn
duckdb
h3
openrouteservice
polyline
sentence-transformers
torch
